<ion-header>
  <ion-navbar>
  <ion-toolbar>

    <ion-title class="titulo">INGRESAR</ion-title>
  </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="fondo" style="background: url('assets/img/back-formularios.png');">
  <img src="assets/img/logo_final_blanco.png" class="center" style="width:275px;" alt="">
  <form [formGroup]="loginData" (submit)="doLogin()">
    <ion-card round >
      <ion-list>
        <ion-item>
          <ion-icon name="ios-mail-outline" item-left></ion-icon>
          <ion-input type="email" placeholder="E-mail" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-lock-outline" item-left></ion-icon>
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block round color="danger" type="submit">INGRESAR</button>
        </ion-item>
      </ion-list>
    </ion-card>
  </form>
  <div style="padding-top: 50px;">
    <button ion-button block round style="background-color: #3b5998; color: white;">INGRESAR CON <b> FACEBOOK</b></button>
    <ion-icon class="center" name="arrow-round-down" color="danger"></ion-icon>
    <p class="center">Aún no te registraste? Por favor,</p>
    <a  (click)="registrarse()" class=" center assertive"><b>REGISTRATE</b></a>
    <a (click)="password()" class="center">Olvidaste tu contraseña?</a>
  </div>

</ion-content>

