page-login {
  .fondo{

    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .blanco{
    color: white;
  }

  .icono{
    font-size: 2.8rem;
  }

  .toolbar-title{
    color: white !important;
  }

  .toolbar-background{
    background-color: transparent;
    border-color: transparent;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;

  }
}
