<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon class="blanco" name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="titulo">¿Que Hay hoy?</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon class="blanco icono" name="calendar"></ion-icon>
      </button>
      <button ion-button>
        <ion-icon class="blanco icono" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <div class="fondo-gris" padding-top padding-bottom>
    <div style="height: 50%">
      <div class="flecha-card izq" (click)="prev()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="flecha-card der" (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
      <ion-slides [options]="mySlideOptions" #mySlider>

        <ion-slide>
          <div class="card-background-page">
            <ion-card>
              <div class="imagen-top" style="background-image: url('assets/img/actividad2.png') !important;">
              </div>
              <div class="card-subtitle"><b>actividades top</b></div>

              <div style="width: 100%">
                <ion-row>
                  <div class="card-logo-local">
                    <img src="assets/img/carlitos.png" height="100%">
                  </div>
                </ion-row>
                <ion-row>
                  <ion-col width-67 class="texto-izq">
                    <h2><b>Cena para dos por el Día de la Amistad</b></h2>
                    <p class="sub-chico">Hace 15 minutos</p>
                  </ion-col>
                </ion-row>
              </div>

            </ion-card>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="card-background-page">
            <ion-card>
              <div class="imagen-top" style="background-image: url('assets/img/actividad2.png') !important;">
              </div>
              <div class="card-subtitle"><b>actividades top</b></div>
              <div style="width: 100%">
                <ion-row>
                  <div class="card-logo-local">
                    <img src="assets/img/carlitos.png" height="100%">
                  </div>
                </ion-row>
                <ion-row>
                  <ion-col width-67 class="texto-izq">
                    <h2><b>Cena para dos por el Día de la Amistad</b></h2>
                    <p class="sub-chico">Hace 15 minutos</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="card-background-page">
            <ion-card>
              <div class="imagen-top" style="background-image: url('assets/img/actividad2.png') !important;">
              </div>
              <div class="card-subtitle"><b>actividades top</b></div>
              <div style="width: 100%">
                <ion-row>
                  <div class="card-logo-local">
                    <img src="assets/img/carlitos.png" height="100%">
                  </div>
                </ion-row>
                <ion-row>
                  <ion-col width-67 class="texto-izq">
                    <h2><b>Cena para dos por el Día de la Amistad</b></h2>
                    <p class="sub-chico">Hace 15 minutos</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <p style="color:gray; margin-left: 12px; font-size: 10px"><strong>OTRAS ACTIVIDADES</strong></p>
    <ion-card>
      <ion-row>
        <ion-col>
          <div>
            <p style="color:red; font-size: 8px"><strong>SAMA SUSHI</strong></p>
            <h2 style="color:gray">Combo NINJA mas delivery GRATIS hasta las 20:00 </h2>
          </div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="assets/img/actividad2.png" height="100%">
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          <div>
            <p style="color:red; font-size: 8px"><strong>SAMA SUSHI</strong></p>
            <h2 style="color:gray">Combo NINJA mas delivery GRATIS hasta las 20:00 </h2>
          </div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="assets/img/actividad2.png" height="100%">
        </ion-col>
      </ion-row>


    </ion-card>
    <div class="card-background-page">
      <ion-card>
        <img src="assets/img/hard-rock2.png"/>
        <div class="card-subtitle"><b>publicidad</b></div>
      </ion-card>
    </div>
    <ion-card>
      <ion-row>
        <ion-col>
          <div>
            <p style="color:red; font-size: 8px"><strong>SAMA SUSHI</strong></p>
            <h2 style="color:gray">Combo NINJA mas delivery GRATIS hasta las 20:00 </h2>
          </div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="assets/img/actividad2.png" height="100%">
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          <div>
            <p style="color:red; font-size: 8px"><strong>SAMA SUSHI</strong></p>
            <h2 style="color:gray">Combo NINJA mas delivery GRATIS hasta las 20:00 </h2>
          </div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="assets/img/actividad2.png" height="100%">
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
          <div>
            <p style="color:red; font-size: 8px"><strong>SAMA SUSHI</strong></p>
            <h2 style="color:gray">Combo NINJA mas delivery GRATIS hasta las 20:00 </h2>
          </div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="assets/img/actividad2.png" height="100%">
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
