page-principal {

  .blanco{
    color: white;
  }

  .icono{
    font-size: 2.8rem;
  }

  .toolbar-title{
    color: white !important;
  }

  .toolbar-background{
    background-color: transparent;
    border-color: transparent;
  }

  .fondo-gris{
    width: 100%;
    height: auto;

    background-color: rgb(212,212,212);
  }

  .card-background-page {
    .imagen-top{
      width: 100%;
      height: 200px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
    }

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      text-align: left;
      font-size: 0.7em;
      text-transform: uppercase;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 100%;
      color: lightgrey;
    }

    .card-logo-local{
      text-align: left;
      height: 50px;
      width: 100%;
      background-color: rgba(0,0,0,0.7);
      margin-top: -50px;
    }

    .card-logo-local img{
      opacity: 1 !important;
      padding: 7px 6px;
    }



  }
  .flecha-card {
    padding:  0 15px;
    position: absolute;
    top: 140px;
    color: white;
    font-size: 25px !important;
    z-index: 99;
  }

}
