<ion-menu [content]="content">


  <ion-content class="fondo">
    <div class="slide-title" style="text-align: center;">
      <img src="assets/img/logo_final_blanco.png" width="100%">
      <div class="avatar" style = 'background-image: url(assets/img/megan2.jpg);'>
      </div>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" style="background-color: transparent !important;" (click)="openPage(p)">
        <span class="blanco">{{p.title}}</span>
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
