// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-content {
  background-color:#ffffff;
}
.item .item-content {
  background-color: transparent !important;
}
 .fondo{
  background-image: url("../assets/img/back-formularios-completa.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

ion-content{
  background-image: url("../assets/img/back-formularios-completa.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}


.toolbar-title{
  color: white !important;
}

.toolbar-background{
  background-color: transparent;
  border-color: rgb(212,212,212);
}

.slide-title {
  margin-top: -20px;
  padding: 0 40px;
  padding-top: 25px;

}

.avatar {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 25%;
  margin-bottom:10%;
}

.blanco{
  color: white;
}

.gris{
  color: #565757;
}

h2 {
  color: #565757;
}

.texto-izq {
  text-align: left !important;
}

.sub-chico{
  font-size: 10px !important;
}

.izq {
  left: 2%;
}

.der {
  right: 2%;
}

.centro {
  top: 50%;
}


.fondo{

  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.blanco{
  color: white;
}

.icono{
  font-size: 2.8rem;
}

.toolbar-title{
  color: white !important;
}

.toolbar-background{
  background-color: transparent;
  border-color: transparent;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;

}
