<!--
  Generated template for the Registrarse page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>REGÍSTRATE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo" style="background: url('assets/img/back-formularios-completa.png');">
    <img src="assets/img/logo_final_blanco.png" class="center" style="width:275px;" alt="">
    <form [formGroup]="singupData" (submit)="doRegistrar()">

          <ion-item>
            <ion-icon name="ios-person-outline" item-left></ion-icon>
            <ion-input type="text" placeholder="Nombre de usuario" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-icon name="ios-person-outline" item-left></ion-icon>
            <ion-select formControlName="sexo">
              <ion-option value="F">Femenino</ion-option>
              <ion-option value="M">Masculino</ion-option>
              <ion-option value="N">No especificado</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="md-calendar" item-left></ion-icon>
            <ion-label>Fecha de Nacimiento</ion-label>
            <ion-datetime  displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="fecha_nacimiento"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-mail-outline" item-left></ion-icon>
            <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
          </ion-item>
          <ion-item >
            <ion-icon name="ios-lock-outline" item-left></ion-icon>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-lock-outline" item-left></ion-icon>
            <ion-input type="password" placeholder="Confirmar contraseña" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button block round color="danger" type="submit">REGISTRARSE</button>
          </ion-item>

    </form>

</ion-content>
