<!--
  Generated template for the Password page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CONTRASEÑA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo" style="background: url('assets/img/back-formularios-completa.png');">
    <div class="light-bg" style="width: 100%; min-height: 100%;">
      <div class="stable-bg row responsive-sm" >
        <p class="text-center col">Ingresá la dirección de e-mail a la cual está asociada tu cuenta de YENDO</p>
        <ion-item>
          <ion-icon name="ios-mail-outline"></ion-icon>
          <ion-input type="text" placeholder="E-mail" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
      <ion-item>
        <button ion-button block round color="danger" (click)="closePassword()">ENVIAR</button>
      </ion-item>
    </div>
</ion-content>
