
.bienvenida{
  background-image: url("../assets/img/inicial-blureado.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.texto{
  color: #565757;
  width: 100%;
  background: white;
  height:100%;
}
.boton{
  color: #C83331;
  text-align: right !important;
}
.flecha{
  color: #C83331;
  margin-left: 5px;
}

.prev{
  z-index: 10;
  position: absolute;
  left: 5%;
  top: 50%;
  width: 7%;
}

.next{
  z-index: 10;
  position: absolute;
  right: 5%;
  top: 50%;
  width: 7%;
}


.tutorial-page {




  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: -20px;
    padding: 0 40px;
    padding-top: 25px;

  }

  .slide-image {
    margin-top: 25%;
    width: 100%;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    margin-bottom:0;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
