<ion-content class="tutorial-page bienvenida">
  <ion-slides [options]="mySlideOptions" #mySlider (ionDidChange)="onSlideChanged()" >
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <div class="texto">
        <p class="slide-title" [innerHTML]="slide.title">

        </p>
        <ion-buttons end>
        <button class="boton" end *ngIf="ultimo" (click)="saltar()" ion-button color="danger" clear>Iniciar<ion-icon class="flecha" name="arrow-forward"></ion-icon></button>
        </ion-buttons>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="prev" *ngIf="!primero" (click)="prev()">
    <img src="assets/img/prev.png"/>
  </div>
  <div class="next" *ngIf="!ultimo" (click)="next()">
    <img src="assets/img/next.png"/>
  </div>
</ion-content>
